/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 80%;
	font: inherit;
	vertical-align: middle;
} 

ol, ul {
	list-style: none;
}
    
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------------------MY STUFF------------------------------------------- */
@font-face { font-family: playlist; src: url('fonts/Playlist Script.otf'); }

/*-------------------------------------------------general-------------------------------------------*/
div{
    display: block;
}

a img {
    border: none;
}

.module-title i{
    font-size: 5rem;
    font-family: playlist;
}

.module-title{
    margin: 20px 45px 20px 45px;
    max-height: 100px;
    max-height: fit-content;
}

p{
    display: block;
}

.main{
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    display: block;
    padding-top: 100px;
}

.module{
    height: 600px;
    margin-bottom: 5px;
    overflow: hidden;
}

.section-content{
    position: relative;
}

/*---------------------------------------------------gn----------------------------------------------*/

.global-nav{
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.8);
    height: 50px;
    display: block;
    /*transition: 1s;*/
}

.gn-content a {
    color: white;
    letter-spacing: 1px;
    font-family: "Lato";
    font-weight: 300;
}

.gn-content img {
    max-height: 1.5rem;
}

.gn-content {
    list-style-type: none;
    margin: 0 auto;
    position: relative;
    height: 50px;
    display: block;
    max-width: fit-content;
}

.gn-projects{
    max-width: 83.1px;
}

a{
    text-decoration: none;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    left: 0;
}

.gn-item{
    margin: 13px 0 13px 0;
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
    float: left;
    max-height: max-content;
}

.proj-dropdown{
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 17px;
    box-sizing: content-box;
    width: 150px;
    height: 25px;
    transform: translateX(-33.45px);
}

.proj-dropdown a{
    font-family: Lato;
    font-weight: 300;
    padding: 7px;
    padding: 0 27.5px;
}

.gn-projects:hover .proj-dropdown{
    transition: 0,2s linear;
    display: block;
}

.gn-text a:hover{
    transition: 0.2s linear;
    color: #69a5d4;
}

.gn-zoom a:hover{
    font-size: 105%;
}

/*-------------------------------------------------welcome-------------------------------------------*/

.wel-logo-wrapper{
    position: relative;
    margin-bottom: 125px;
    padding-top: px;
}

.logo-wrapper{
    width:400px;
    height: 180px;
    position: relative;
    margin: 0 auto;
}

.logo-wrapper img{
    max-width: 400px;
    animation: 2s ease-out 0s 1 appear;
}

@keyframes appear{
    0%{
        opacity: 0;
        transform: translateY(20%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.slogan-wrapper{
    margin: 0 auto;
    text-align: center;
    font-family: 'Audiowide', cursive;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
}

.slogan-wrapper i{
    color: rgba(105, 165, 212);
}

.slogan1{
    animation: 3s ease-out 0s 1 think;
}

.slogan2{
    animation: 4s ease-out 0s 1 create;
}

.slogan3{
    animation: 5s ease-out 0s 1 innovate;
}

.banner{
    background-image:url(images/bannerimg.jpeg);
    height: 600px;
    max-width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.banner-curtain{
    background-color: rgba(105, 165, 212, 0.3);
    width: 100%;
    height: 100%;
}

.banner-text{
    float: right;
    margin-top: 15%;
    color: white;
    margin-right: 1%;
    display: block;
    width: fit-content;
}

.creative{
    font-family: 'lato';
    font-size: 4vw;
    padding-right: 10px;
    width: fit-content;
}

.social{
    font-family: 'playlist';
    font-size: 5vw;
    padding-left: 20%;
    width: fit-content;
}

@media screen and (max-width: 800px) {
    .banner{
        max-height: 400px;
        background-size: 130%;
    }
    .banner-curtain{
        max-height: 400px;
    }
    .banner-text{
        float: none;
        margin-left: 15vw;
        position: absolute;
        bottom: 15%;
    }
    .creative{
        font-size: 7.5vw;
    }
    .social{
        font-size: 9vw;
        padding-left: 25%;
    }
}

#welcome{
    height: fit-content;
}

@keyframes think{
    0%{opacity: 0;}
    66%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes create{
    0%{opacity: 0;}
    75%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes innovate{
    0%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 1;}
}

/*----------------------------------------------- projects ------------------------------------------*/

.projects-section{
    background-image: url(images/proj-back2.png);
    position: relative;
}

.project-text{
    font-size: 25px;
}

.project-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.da-img-wrapper{
    display: block;
    margin: auto;
}

.pt-wrapper{
    position: relative; 
    max-width: 750px;
    margin-left: 45px;
}

.projects-section p{
    font-family: "Lato";
    font-weight: 350;
    text-align: justify;
}

#expand{
    font-family: 'lato';
    font-size: 180%;
    position: relative;
    background: none;
    border-color:black;
    color:black;
    border-style: solid;
    width: 200px;
}

#expand:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.expand-button{
    list-style-type: none;
    margin: 0 auto;
    bottom: 0;
    padding-bottom: 50px;
    position: absolute;
    height: auto;
    width: 200px;
    left: 50%;
    margin-left: -100px;
}

.ext-content{
    margin-top: 250px;
}

.videodocassist iframe{
    height: 480px;
    width: 853px;
}


/*--------------------------------------------- our team ----------------------------------------------*/


.team-section{
    background-image: url(images/team-back.png);
}

.team-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}


.team-img{
    margin: 0 auto;
    padding-bottom: 20px;
    width: fit-content;
}

.maia-img{
    height: 400px;
    width: 400px;
    background-image: url(images/teste.jpg);
    position: relative;
    background-size: contain;
}

.icaro-img{
    height: 400px;
    width: 400px;
    background-image: url(images/teste.jpg);
    position: relative;
    background-size: contain;
}

.diogo-img{
    height: 400px;
    width: 400px;
    background-image: url(images/teste.jpg);
    position: relative;
    background-size: contain;
}

.curtain{
    height: 400px;
    width: 400px;
    background: black;
    opacity: 0%;
    transition: 0.2s linear;
}

#maia-curtain:hover{
    opacity: 80%;
}

#icaro-curtain:hover{
    opacity: 80%;
}

#diogo-curtain:hover{
    opacity: 80%;
}

.team-section p{
    padding: 15px;
    padding-bottom: 0;
    text-align: justify;
    font-size: 130%;
    color: white;
    font-family: "Lato";
    font-weight: 350;
}

.team-names{
    font-family: playlist !important;
    font-size: 170% !important;
    text-align: center;
}

/*--------------------------------------------------- about us -----------------------------------------*/


.about-section{
    background-image: url(images/abt-back.png);
}

.gear-wrapper{
    height: 300px;
    width: 300px;
    background-image: url(images/gearready.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 90px 100px;
}

#about-title{
    color: #ffffff;
    float: right;
    padding-right: 55px;
}

.abtext-wrapper{
    display: grid;
    grid-template-rows: auto;

}

.about-wrapper{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    margin: 0 auto;
}

.about-section p{
    padding: 0px 100px; 
    text-align: justify;
    font-size: 130%;
    color: white;
    font-family: "Lato";
    font-weight: 350;
}

/*---------------------------------------------- contact ---------------------------------------*/
.contact-section{
    background-color: #00142F;   
}

.contact-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-title{
    color: white;
}

.contact a{
    font-family: 'lato';
    color: #ffffff;
}

/*---------------------------------------- footer ---------------------------------------------*/

footer{
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    height: fit-content;
}

.test {
    font-family: Lato;
    color: #ffffff;
    font-weight: 250;
    max-width: fit-content;
    margin: auto;
    padding-top: 5px;
}

.credit a{
    font-family: Lato;
    color: #ffffff;
    font-weight: 250;
    font-size: 65%;
    max-width: fit-content;
    margin: auto;
}

.credit{
    max-width: fit-content;
    margin: auto;
}

.credit a:hover{
    color: rgba(105, 165, 212)
}

